:root {
    --primary-color-text: #2E2F42;
    --secondary-color-text: #434455;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --btn-hover-color: #404BBF;
}

 
.link {
    text-decoration: none;
}
/* LOGO STYLES*/

.logo {
    color: var(--primary-color-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.accent {
    color: var(--btn-hover-color);
}

.footer-logo {
    color: var(--secondary-background-color);
    background: var(--primary-color-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.footer-accent {
    color: var(--btn-hover-color);
}
  
.list {
    list-style: none;
}


/* NAVIGATION*/

.menu-item .menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
}

.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
    color: var(--accent-color);
}

/* CONTACTS*/

.contact-item .contact-link {
    color: var(--secondary-color-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-item .contact-link:hover,
.contact-item .contact-link:focus {
    color: var(--accent-color);
}

/* HEADER*/
.header {
    background: var(--main-background-color);
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08);
}

/*HERO SECTION*/
.hero {
    font-weight: 500;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.1;
    text-align: center;
    color: var(--main-background-color);
    background: var(--primary-color-text);
}

/*BODY*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color-text);
    background: var(--main-background-color);
}

/*--BUTTONS --*/
.main-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--main-background-color);
    background: var(--accent-color);
    box-shadow: 0px 1px 6px;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background: var(--btn-hover-color);
}


.buttons {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background: var(--secondary-background-color);
    cursor: pointer;
}

.buttons:hover,
.buttons:focus {
    color: var(--main-background-color);
    background: var(--accent-color);
}


/*TITLES*/

.titles {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.secondary-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


/* SUBTITLES*/
.subtitles {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);
}


/*TEAM-SECTION*/
.team-section {
    background: var(--secondary-background-color);
}
